* {
    box-sizing: border-box;
}

:root {
    background:#fff;
}

header {
    display: grid;
    grid-auto-columns: repeat(3, .5fr);
    grid-template-rows: repeat(2, .25fr);
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 15%;
    margin-right: auto;
    align-self: center;
    white-space: nowrap;
    font-size: 2.25em;
}

#suns-logo-container {
    cursor: pointer;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
    height: 100px;
    width: 90px;
    margin-left: auto;
    margin-right: 0;
}

/* Navigation menu */

.header-nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
}

#nav-menu {
    list-style: none;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

#nav-menu li {
    padding: 0;
    margin: 0;
}

#nav-menu li a {
    padding: 5px 10px;
    border-bottom: 2px;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: right;
}   

#nav-menu li a:hover {
    background-color: rgb(60, 8, 65);
}

.team_updates {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5%;
}

.team-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-top: 5%;
}

img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2em;
}

h3 a {
    color: white;
}

.schedule {
    order: 1;
    justify-content: space-around;
    text-align: center;
    border: 5px solid black;
    border-radius: 5px;
    margin: 5%;
    margin-bottom: 6%;
    background: grey;
}

.schedule a {
    color: white;
}

.team-news {
    justify-content: space-around;
    text-align: center;
    margin: 5%;
    padding: 2%;
    border: 5px solid black;
    border-radius: 5px;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
} 

  .roster {
      border: 5px solid black;
      border-radius: 5px;
      margin: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: grey;
  }

  ul {
      display: flex;
      flex-direction: column;
  }

  li {
  }

  .stats {
    border: 5px solid black;
    border-radius: 5px;
    margin: 5%;
    text-align: center;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
}

@media (min-width: 768px) {
    header {
        display: flex;
        padding: 1.25em;
    }

    h1 {
        flex-direction: column;
        font-size: 3.25em;
        margin-left: 15%;
        margin-right: auto;
    }
    #suns-logo-container {
        display: none;
    }

    .header-nav {
        flex-direction: column;
    }

    #nav-menu {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        padding: 2%;
    }

    #nav-menu li {
        padding: 5%;
    }
}

@media (min-width: 1025px) {
    header {
        display: flex;
        flex-direction: row;
    }

    h1 {
        order: 0;
        font-size: 4em;
    }

    .header-nav {
        font-size: 2em;
    }

    #nav-menu {
        flex-direction: column;
        font-size: .8em;
    }

    #nav-menu li a {
        max-width: 200px;
    }

    #suns-logo-container {
        display: none;
        }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
    }

    .team-img {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: -5;
        grid-row-end: -4;
    }

    .schedule {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: -5;
        grid-row-end: -4;
        text-align: center;
    }

    .team-news {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: -4;
        grid-row-end: -3;

    }

    .roster {
        grid-column-start: 1;
        grid-column-end 2;
        grid-row-start: -4;
        grid-row-end: -3;
        background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
    }

    .stats {
        grid-column-start: 2;
        grid-column-end 4;
        grid-row-start: -3;
        grid-row-end: -2;

    }
}