* {
    box-sizing: border-box;
}

:root {
    background: rgb(218, 214, 214);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
}

.team_updates {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5%;
}

.team-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

img {
    order: 0;
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2em;
}

.schedule {
    order: 1;
    justify-content: space-around;
    text-align: center;
    padding: 2%;
    border: 5px solid black;
    margin-bottom: 6%;
    background: grey;
}

.schedule a {
    color: white;
}

.team-news {
    justify-content: space-around;
    text-align: center;
    margin: 5%;
    padding: 2%;
    border: 5px solid black;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
} 

  #roster {
      border: 5px solid black;
      border-radius: 5px;
      margin: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: grey;
  }

  ul {
      display: flex;
      flex-direction: column;
  }

  li {
  }

  #stats {
    border: 5px solid black;
    border-radius: 5px;
    margin: 5%;
    text-align: center;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
}

@media (min-width: 1025px) {
    header {
        padding: 1.25em;
        font-size: 1.25em;
    }
    .team-updates {
        flex-direction: row;
    }
    .schedule {
        order: 0;
        width: 210px;
        justify-content: flex-start;
        margin-right: auto;
    }   
    .team-img {
        order: 1;
        justify-content: flex-end;
        margin-top: -25%;
    }  

    img {
        width: 70%;
        height: auto;
    }
}