* {
    box-sizing: border-box;
}

:root {
    background: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid purple;
    border-radius: 15px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background: linear-gradient(to left, #e0a22d 0%, #330867 100%);
}

.header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

img {
    width: 70%;
    height: auto;
    border-radius: 5px;
}

#schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: purple;
    border: 5px solid black;
    margin: 5%;
}

.col {
    display: flex;
    flex-direction: column;
    background: grey;
  }

  #roster {
      border: 5px solid black;
      margin: 5%;
  }

  #stats {
    border: 5px solid black;
    margin: 5%;
}